<ion-content padding class="auto-scroll">
  <ion-grid fixed>
    <ion-row align-items-center justify-content-center>
      <ion-col col-12 col-sm-12 col-md-6>
        <form [formGroup]="form">
          <h1 text-center class="oleo-script">Cadastrar jogo</h1>
          <ion-list>
            <ion-item>
              <ion-input type="text" placeholder="Mandante" maxlength="140" formControlName="mandante"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Visitante" maxlength="20" formControlName="visitante"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="number" placeholder="Gol mandante" maxlength="2" formControlName="placarmandante"></ion-input>
              <ion-input type="number" placeholder="Gol visitante" maxlength="2" formControlName="placarvisitante"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Local" maxlength="20" formControlName="local"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="time" placeholder="Hora" maxlength="20" formControlName="hora"></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Observação" formControlName="observacao"></ion-textarea>
            </ion-item>
          </ion-list>

          <!-- Adicionar jogador -->
          <button ion-item no-lines clear large (click)=" AddJogador()">
            <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
            Adicionar jogador
          </button>

          <ul class="list-group" formArrayName="jogadores">
            <div *ngFor="let item of form.controls['jogadores'].controls; let i = index">
              <div class="city-box" formGroupName="{{i}}">
                <ion-row align-items-center justify-content-center>
                  <div class="fields">
                    <div class="field eight wide" col-12 col-sm-12 col-md-6>
                      <ion-input type="text" placeholder="Nome" maxlength="20" formControlName="nome"></ion-input>
                      <ion-input type="text" placeholder="Gol" maxlength="20" formControlName="gol"></ion-input>
                    </div>
                  </div>
                  </ion-row>
              </div>
            </div>
          </ul>
          <ion-list *ngFor="let item of listJogadores; let i = index">
            <ion-item>
              <ion-input type="text" placeholder="Hora"></ion-input>
            </ion-item>
          </ion-list>
        </form>
        <button ion-button block large outline [disabled]="!form.valid" color="blue">Enviar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-footer >
  <ion-toolbar text-center color="blue">
    <ion-buttons>
      <button small ion-button block (click)="goToSignup()">
        <small>Ainda não tem conta?&nbsp;<strong>Cadastre-se</strong></small>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->